<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>sr_producto</servlet-name>
        <servlet-class>controlador.sr_producto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sr_cliente</servlet-name>
        <servlet-class>controlador.sr_cliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sr_proveedor</servlet-name>
        <servlet-class>controlador.sr_proveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sr_login_cliente</servlet-name>
        <servlet-class>controlador.sr_login_cliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sr_marca1</servlet-name>
        <servlet-class>controlador.sr_marca1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sr_empleado</servlet-name>
        <servlet-class>controlador.sr_empleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sr_puestos</servlet-name>
        <servlet-class>controlador.sr_puestos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sr_login_trabajador</servlet-name>
        <servlet-class>controlador.sr_login_trabajador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sr_crearUserEmpledo</servlet-name>
        <servlet-class>controlador.sr_crearUserEmpledo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sr_userempledo</servlet-name>
        <servlet-class>controlador.sr_userempledo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sr_logintrabajador</servlet-name>
        <servlet-class>controlador.sr_logintrabajador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sr_venta</servlet-name>
        <servlet-class>controlador.sr_venta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sr_compras</servlet-name>
        <servlet-class>controlador.sr_compras</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sr_producto</servlet-name>
        <url-pattern>/sr_producto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sr_cliente</servlet-name>
        <url-pattern>/sr_cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sr_proveedor</servlet-name>
        <url-pattern>/sr_proveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sr_login_cliente</servlet-name>
        <url-pattern>/sr_login_cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sr_marca1</servlet-name>
        <url-pattern>/sr_marca1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sr_empleado</servlet-name>
        <url-pattern>/sr_empleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sr_puestos</servlet-name>
        <url-pattern>/sr_puestos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sr_login_trabajador</servlet-name>
        <url-pattern>/sr_login_trabajador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sr_crearUserEmpledo</servlet-name>
        <url-pattern>/sr_crearUserEmpledo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sr_userempledo</servlet-name>
        <url-pattern>/sr_userempledo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sr_logintrabajador</servlet-name>
        <url-pattern>/sr_logintrabajador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sr_venta</servlet-name>
        <url-pattern>/sr_venta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sr_compras</servlet-name>
        <url-pattern>/sr_compras</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
